<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.summary }}">
    
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta property="og:title" content="Havas Work Club - {{ page.title }}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:site_name" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

    <title>Havas Work Club - {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" src="/dist/styles/styles.css" />
    <script type="text/javascript" src="/dist/scripts/app.min.js"></script>
</head>