.footer {
    padding-bottom: 100px;
    float: left;
    width: 100%;
    line-height: 1.4em;

    @media screen and (max-width: 500px) {
        padding-bottom: 50px;
    }

    .footer__address {
        font-weight: 700;
    }

    .footer__number {
        font-weight: 700;
    }

    .footer__content {
        margin: 45px 0;

        @media screen and (max-width: 500px) {
            letter-spacing: -1px;
            margin: 20px 0 0 0;
        }
    }

    .footer__column {
    	float: left;
    	width: 100%;

    	@media screen and (min-width: 501px) {
    		float: left;
    		width: 46%;
        }
    }
}
