.container {
	width: 100%;
	max-width: 820px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding: 30px;
	box-sizing: border-box;

	@media screen and (min-width: 501px) {
        padding: 30px 60px;
    }
}

.image-respond {
	max-width: 100%;
}

.cta {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #e41e1d;
}
