body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;

    @media screen and (min-width: 501px) {
        font-size: 1.4em;
        line-height: 2.2em;
    }

    .bold {
        font-weight: bold;
    }

    p.padded-extra {
        margin: 15px 0 45px 0;

        @media screen and (min-width: 501px) {
            margin: 30px 0 90px 0;
        }
    }
}
